html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --board-columns: 50;
  --base-cell-size: 20px;
}

.board-scroll-container {
  max-width: calc(100vw - 64px);
  max-height: calc(100vh - 64px);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  --cell-size: var(--base-cell-size);
  width: calc(var(--cell-size) * var(--board-columns));
  height: calc(var(--cell-size) * var(--board-columns));
  display: flex;
  flex-direction: column;
}

.mostralinha {
  display: flex;
  flex-direction: row;
  background-image: url(Imagens/grass.png);
  background-size: var(--cell-size) var(--cell-size);
}
