.Personagem {
  background-image: url(Imagens/perso.gif);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 80px;
  height: 80px;
}

.objetivo {
  background-image: url(Imagens/objetivo.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  width: 80px;
  height: 100px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  animation: bounce 1s infinite;
}
