html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: max-content;
  margin: auto;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.mostralinha {
  display: flex;
  flex-direction: row;
  background-image: url(Imagens/grass.png);
  width: max-content;
}