.Celula {
  position: relative;
  height: var(--cell-size);
  width: var(--cell-size);
}

 .Celula > * {
  position: absolute;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;   /* <-- ancora na base */
  z-index: 1;
 }
 .Celula > .caminho {
   z-index: 0;
 }

.Celula > .caminho {
  z-index: 0;
}
.arvore {
  background-image: url(Imagens/arvorenatal.png);
  background-size: cover;
  width: calc(var(--cell-size) * 1.5);
  height: calc(var(--cell-size) * 1.5);
}
.arvore2 {
  background-image: url(Imagens/arvorenormal.png);
  background-size: cover;
  width: calc(var(--cell-size) * 0.85);
  height: calc(var(--cell-size) * 1.6);
}
.capim {
  background-image: url(Imagens/capim.png);
  background-size: cover;
  z-index: -2;
  width: calc(var(--cell-size) * 1.5);
  height: calc(var(--cell-size) * 1);
}
.pedra {
  border-radius: 20%;
  background-image: url(Imagens/pedra.png);
  background-size: cover;
  width: calc(var(--cell-size) * 1.0);
  height: calc(var(--cell-size) * 1.25);
}
.lama {
  border-radius: 25%;
  left: 5px;
  background-image: url(Imagens/lama.png);
  background-size: cover;
  z-index: 0;
  width: calc(var(--cell-size) * 0.7);
  height: calc(var(--cell-size) * 0.7);
}
.rio {
  border-radius: 0% 0% 10% 0%;
  background-image: url(Imagens/agua.png);
  background-size: cover;
  z-index: 1;
  width: calc(var(--cell-size) * 1.2);
  height: calc(var(--cell-size) * 1.0);
}
.castelo1 {
  background-image: url(Imagens/castelo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: calc(var(--cell-size) * 0.2);
  width: var(--cell-size);
  height: calc(var(--cell-size) * 1.2);
}
.castelo2 {
  background-image: url(Imagens/castelo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--cell-size);
  height: calc(var(--cell-size) * 1.2);
}
.castelo3 {
  background-image: url(Imagens/castelo3.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: calc(var(--cell-size) * 0.2);
  width: var(--cell-size);
  height: calc(var(--cell-size) * 1.2);
}
.castelo4 {
  background-image: url(Imagens/castelo4.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--cell-size);
  height: calc(var(--cell-size) * 1.2);
}
.ponte1 {
  background-image: url(Imagens/ponte1.png);
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
  z-index: 0;
}
.ponte3 {
  background-image: url(Imagens/ponte2.png);
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
  z-index: 0;
}
.ponte2 {
  background-image: url(Imagens/ponte3.png);
  background-size: cover;
  z-index: 0;
  width: var(--cell-size);
  height: var(--cell-size);
}

.placa {
  background-image: url(Imagens/placa.png);
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}
